# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# SQLite database
*.db
*.sqlite
*.sqlite3

# Environment variables
.env
.env.*

# Node
node_modules/
frontend/node_modules/

# React build
frontend/dist/
frontend/build/

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/